<!DOCTYPE html>
<html>
<head>
	<title>拾穗行动-学生详情</title>
	<meta charset="UTF-8">
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/details.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/static/css/contributor.css">
	<link rel="stylesheet" type="text/css" href="/static/css/track.css">

</head>
<body>
	{include file="common/top" /}
	<!-- 面包屑导航 -->
	<div class="pa white_bg">
		<ol class="breadcrumb white_bg">
			<li><a href="/">首页</a></li>
			<li><a href="{:url('student/index')}">全部学生</a></li>
			<li class="active active_bread">捐款</li>
		</ol>
	</div>
	<!-- 捐款 -->

	<div class="pa">
		<div class="white_bg details">
			<p class="details_title ac">{$info.name}</p>
			<p class="details_date ac">登记时间：{$info.createtime|date="Y-m-d", ###}</p>
			<div class="details_info">
				<div class="details_infoma">
					<p>{$info.nation} / {$info.age}岁 / {$info.sexdata == '1' ? '男' : '女'}</p>
					<p>编号： <span>{$info.number}</span></p>
					<p>学校： <span>{$info.school_name}</span></p>
				</div>
				<div>家庭： <span>{$info.family_status}</span></div>
				{if condition="$info.donation_status eq 2"}
				<div class="details_infoma details_bottom" style="padding-top: 20px;">
					<p>捐助者： <span>{$donation.fullname}</span></p>
					<p>捐助年限： <span>{$donation.paytime|date="Y-m-d", ###} - {$donation.expirytime|date="Y-m-d", ###}</span></p>
				</div>
				{/if}
				{if condition="$info.donation_status eq 1"}
				<div class="details_bottom ac">
					<a class="details_btn ac" href="{:url('student/donation')}">捐 款</a>
				</div>
				{/if}
				<div c</lass="details_content" style="padding-top: 30px;">
					{$info.detailcontent}
				</div>
			</div>
		</div>
	</div>

	{include file="common/footer" /}
</body>
</html>