.article{
	margin-top: 20px;
    border: 1px solid #e2e2e2;
}

.article_top{
	padding: 20px;
	overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}

.article_search{
    border: 1px solid #c81d1c;
    display: inline-block;
}

.article_search input{
	border:none;
	outline:none;
}

.article_table{
	padding: 20px;
}

.article_date{
	width: 220px;
	padding-right: 50px !important;
}

.article_right{
	padding-left: 50px !important;
}

.leftnav{ float: left; width: 180px; background: #FFF; border: 1px solid #e2e2e2; margin-top: 20px;}
.leftnav ul { padding: 10px 10px 30px; }
.leftnav ul li {border-bottom: 1px dashed #e2e2e2; font-size: 14px;text-align: center; }
.leftnav li a {display: block; line-height: 50px;}
.leftnav li.active a {color: #f21f2e;}
.rightContainer {float: right; width: 745px;}
