body{
	background-color: #f5f5f5 !important;
	min-width: 890px;
}

.pa{
    padding: 0 15%;
    /*overflow: hidden;*/
    box-sizing: border-box;
    min-width: 950px;
}

/*登陆*/
.login{
	height: 30px;
	background-color: #e9e9e9;
	line-height: 30px;
}

.login_act{
	color: #c81d1c !important;
}

.login a{
	margin: 0 6px;
	color: #333333;
	font-size: 12px;
}

.login a:hover{
	color: #c81d1c;
}

.login_wx:hover +.wx_code{
	display: block;
}

.wx_code_title{
	font-size: 16px;
}

.wx_code{
	padding: 10px 5px;
	width: 120px;
	background-color: #fff;
	border: 1px solid #ddd;
	position: absolute;
	z-index: 9;
	top: 30px;
    right: 15%;
    display: none;
}

.wx_code_img img{
	width: 100%;
}

.login span{
	color: #adadad;
}

/*导航*/
nav{
	border-bottom: 2px solid #c81d1c;
	position: relative;
}

.nav_logo{
	margin: 5px 60px 10px 60px;
}

.nav_search{
	margin-top:50px; 
	width: 30%;
	border: 1px solid #c81d1c;
	display: inline-block;
	position: absolute;
	right: 0;
}

.nav_input{
	padding: 5px 10px;
	display: inline-block;
}

.nav_search input{
	border:none;
	outline:none;
}

.nav_icon{
	width: 50px;
	height: 34px;
	background-color: #c81d1c;
	color: #f5f5f5;
	line-height: 32px;
}

.nav_list{
    display: inline-block;
	position: absolute;
    bottom: 0;
    font-family: "微软雅黑";

}

.nav_list li{
	font-size: 16px;
	font-weight: bold;
	float: left;
	padding: 12px 27px;
	position: relative;
}
.nav_list li:hover {background: #c81d1c;}
.nav_list li:hover a{
	color: #f5f5f5;
	text-decoration: none;
}

.nav_list li .subnav{position: absolute; background: #c81d1c; z-index: 10; top:48px; left: 0; padding: 10px 27px; display: none}
.nav_list li .subnav a {display: block; line-height: 38px; font-weight: normal;}
/*.nav_list li .subnav a:hover{ background:  }*/

.active_bg{
	background-color: #c81d1c;
}

.active_bg a{
	color: #f5f5f5;
	text-decoration: none;
}

/*面包屑导航*/
.breadcrumb{
	padding: 8px 0;
	margin-bottom: 0;
}

.white_bg{
	background-color: #fff;
}

.active_bread{
	color: #333 !important;
}

.breadcrumb li a{
	color: #999;
}

/*轮播图*/
.carousel_img{
	width: 100%;
}

.news{
	width: 100%;
	height: 53px;
	padding-left: 20px;
	line-height: 50px;
	background-color: #c81d1c;
	color: #f5f5f5;
	font-size: 16px;
}

.news_r{
	padding: 0 50px;
	border-left: 1px solid #e2817e;
	color: #f5f5f5;
}

.news_r a{
	color: #f5f5f5;
}

/*全部文件*/
.news_list{
	padding: 10px 20px 1px 20px;
	background-color: #fff;
}

.news_list li{
	margin-bottom: 10px;
}

.news_list_title{
	font-size: 16px;
	color: #333;
}

.news_list_date{
	color: #999;
	font-weight: normal;
}

/*公益活动*/
.pub{
	margin-top: 20px;
	padding: 30px 0;
	background-color: #fff;
}

.pub_title{
	font-size: 40px;
	color: #c81d1c;
	font-weight: bold;
}

.pub_stitle{
	font-size: 16px;
	position: relative;
	top: -18px;
	color: #292929;
}

.pub_list_title{
	overflow: hidden;
	font-size: 16px;
	color: #292929;
	font-weight: bold;
	margin-bottom: 14px;
}

.pub_list_article{
	font-size: 16px;
	margin-bottom: 20px;
}

.pub_btn{
	padding: 10px 24px;
	margin-top: 30px;
	display: inline-block;
	background-color: #c81d1c;
	color: #fcf5f5;
	font-size: 16px;
	border-radius: 30px;
}

/*项目统计*/

.pro_item{
	width: 30%;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

.pro .pro_item:not(:last-child){
	margin-right: 4%;
}

.pro_item span{
	color: #ca2e2b;
	font-size: 22px;
}

.pro_item_img{
	width: 36px;
	height: 36px;
}

/*底部*/
.footer{
	color: #333;
	font-size: 12px;
	margin-top: 40px;
}

.footer p{
	margin-bottom: 10px;
}

/*绝对定位*/
.fixed{
	position: fixed;
	right: 0;
	bottom: 20%;
}

.fixed a{
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	display: inline-block;
	background-color: #796e6e;
	color: #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

a:hover{
	text-decoration: none !important;
}

/*文章详情*/
.article_detail{
	margin-top: 20px;
	text-indent: 40px;
	line-height: 26px;
	font-size: 16px;
}

/*登陆弹层*/
.jump{
	width: 480px;
	margin: 100px auto;
	padding: 20px 0;
	background-color: #fff;
	border-radius: 10px;
}

.login_title{
	font-size: 22px;
	border-bottom: 1px solid #ddd;
	padding: 0 20px 10px 20px;
}

.jump_input{
	width: 78% !important;
}
.clear {clear: both;}


.index_partner {width: 950px; margin: 50px auto 0;}
.index_partner .title {border-bottom: 1px solid #aaa; padding-bottom: 8px; font-size: 18px; }
.index_partner ul {margin-top: 30px; overflow:hidden; margin-left: -16px;}
.index_partner ul li {float: left; margin-left: 16px;}
.index_partner ul li img {width: 145px; height: 60px;}

.index_zixun {overflow: hidden; width: 950px; margin: 50px auto 0;}
.index_zixun .title {border-bottom: 1px solid #aaa;}
.index_zixun .title span{display: inline-block; height: 30px; line-height: 30px; background: #c81d1c; color: #FFF; font-size: 18px; padding: 0 10px;}
.index_zixun .left {width: 465px; margin-right: 20px; float: left;}
.index_zixun .right {width: 465px; float: left}
.index_zixun li {padding-top: 15px;}

.activityBtn {background: #c81d1c; border: none; display: block; margin: 50px auto; width: 100px; text-align: center; line-height: 40px; border-radius: 5px; color: #FFF; font-size: 16px;}

.nav_container {background: #FFF}
.topnav {width: 1000px; margin: 0 auto;}

.index_q {background: #655845; padding: 10px 0; color: #cccccc;}
.index_q ul {overflow: hidden; width: 950px; margin: 0 auto; }
.index_q ul li {float: left; margin-right: 30px; height: 60px;}
.index_q li i { font-size: 60px; float: left; margin-right: 15px; }
.index_q li span { line-height: 60px; float: left; font-size: 20px;}