<!DOCTYPE html>
<html>
<head>
	<title>拾穗行动-全部文章</title>
	<meta charset="UTF-8">
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/static/css/article.css">

</head>
<body>
	{include file="common/top" /}
	<!-- 面包屑导航 -->
	<div class="white_bg">
		<ol class="breadcrumb contain">
			<li><a href="/">首页</a></li>
			<li class="active active_bread">我们的伙伴</li>
		</ol>
	</div>
	
	<!-- 全部文章 -->
	<div class="pa">
		<div class="leftnav">
			<ul>
				{foreach name="category" item="item"}
				<li  {if condition="$category_id eq $item.id"}class="active"{/if}><a href="{:url('index/partner/index', array('category_id'=>$item.id))}">{$item.name}</a></li>
				{/foreach}
				<li  {if condition="$id eq 1"}class="active"{/if}><a href="{:url('index/partner/page', array('id'=>1))}">企业公益伙伴</a></li>
                <li  {if condition="$id eq 2"}class="active"{/if}><a href="{:url('index/partner/page', array('id'=>2))}">拾穗执行团队</a></li>
                <li  {if condition="$id eq 3"}class="active"{/if}><a href="{:url('index/partner/page', array('id'=>3))}">明星公益伙伴</a></li>
			</ul>
		</div>
		<div class="article white_bg rightContainer">
			<div class="article_table">
				{$info.content}
			</div>
		</div>
		<div class="clear"></div>
	</div>
	{include file="common/footer" /}
</body>
</html>