<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-number" class="form-control" name="row[number]" type="text" value="{$number}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nation')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nation" class="form-control" name="row[nation]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">年级:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-grade" class="form-control" name="row[grade]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">出生日期:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-birthday" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" name="row[birthday]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sexdata')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="sexdataList" item="vo"}
            <label for="row[sexdata]-{$key}"><input id="row[sexdata]-{$key}" name="row[sexdata]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    {if condition="in_array($group_id, array(1,2))"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('School_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-school_id" data-rule="" data-source="school/index" class="form-control selectpage" name="row[school_id]" type="text" value="">
        </div>
    </div>
    {else /}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('School_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[school_id]" id="c-school_id" class="form-control" readonly="readonly">
                <option value="{$school.id}">{$school.name}</option>
            </select>
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Family_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-family_status" class="form-control" name="row[family_status]" type="text"> -->
            <textarea name="row[family_status]" id="c-family_status" class="form-control" cols="30" rows="4" data-rule="required"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input id="c-city" class="form-control" data-toggle="city-picker" name="row[city]" type="text"></div>
        </div>
    </div>
    <div class="form-group hide">
        <label class="control-label col-xs-12 col-sm-2">{:__('Needmoney')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-needmoney" class="form-control" step="1" name="row[needmoney]" type="number" value="2860.00">
        </div>
    </div>
    <div class="form-group hide">
        <label class="control-label col-xs-12 col-sm-2">{:__('Needyear')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-needyear" class="form-control" name="row[needyear]" type="number" value="1">
        </div>
    </div>
    {if condition="$group_id eq 1"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Donation_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="donationStatusList" item="vo"}
            <label for="row[donation_status]-{$key}"><input id="row[donation_status]-{$key}" name="row[donation_status]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Detailcontent')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="ueditor" rows="5" name="row[detailcontent]"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>


<!-- 配置文件 -->
<script type="text/javascript" src="/plugins/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/plugins/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('ueditor', {
        initialFrameWidth: "100%",
        initialFrameHeight: 500,
        wordCount: false, //{Boolean} [默认值：true] //是否开启字数统计
    });
</script>