<!-- 底部 -->
    <div class="footer pa ac">
        <p>{$site.copyright} 备案号：{$site.beian}</p>
        <p>由北京烽火万家科技有限公司提供技术支持 </p>
    </div>
   <!--  <div class="fixed">
       <a class="iconfont icon-xiazai_ ac"></a>
       <br/>
       <a href="#top" class="iconfont icon-shangyi ac"></a>
   </div> -->


<!-- <script src="https://www.sobot.com/chat/frame/js/entrance.js?sysNum=f366b41abb7847e1af54de5ad61149b4" class="zhiCustomBtn" id="zhichiScript" data-args="manual=true"></script>
<script type="text/javascript">
	//初始化智齿咨询组件实例
	var zhiManager = (getzhiSDKInstance());
	//再调用load方法
	zhiManager.on("load", function() {
	    zhiManager.initBtnDOM();
	});
	//zhiManager.set('color','09aeb0'); //API示例，格式为 0-9 a-f 之间的六位有效字符 不用加#
</script>
 -->