    <!-- 顶部登陆 -->
    <div class="login pa" id="top">
        <div class="fr">
            {if condition="$isLogin == true"}
            <a href="{:url('user/index')}">我的捐赠</a><span>|</span>
            <a href="{:url('user/logout')}">注销</a><span>|</span>
            {else /}
            <a href="{:url('user/login')}">登陆</a><span>|</span>
            <a href="{:url('user/register')}">注册</a><span>|</span>
            {/if}
            <!-- 微信二维码 -->
            <a class="login_wx" href="#"><i class="iconfont icon-iconfontweixin"></i> 关注微信公众号</a>
            <div class="wx_code ac">
                <div class="wx_code_title">微信二维码</div>
                <div class="wx_code_img"><img src="/static/images/weixin.jpg"></div>
            </div>
        </div>
    </div>
    <!-- 导航 -->
    <nav class="pa white_bg">
        <a href="/"><img class="nav_logo" src="/static/images/logo.png"></a>
        <div class="nav_search">
            <div class="nav_input">
                <i class="iconfont icon-search"></i>
                <input type="text" name="studentName" value="{$studentName ? $studentName : ''}" placeholder="请输入学生姓名">
            </div>
            <div class="nav_icon fr ac searchBtn"><span class="iconfont icon-search" style="font-size: 24px;"></span></div>
        </div>
        <ul class="nav_list">
            <li class="active {$config['controllername'] == 'index' ? 'active_bg' : ''}"><a href="/">首页</a></li>
            <li class="{$config['controllername'] == 'student' ? 'active_bg' : ''}"><a href="{:url('student/index')}">全部学生</a></li>
        </ul>
    </nav>

    <script type="text/javascript">
        $('.searchBtn').click(function(){
            var studentName = $('input[name=studentName]').val();
            if(studentName.trim() == '') return false;

            window.location.href = "{:url('index/student/index')}?studentName="+studentName;
        })

    </script>