<!DOCTYPE html>
<html>
<head>
	<title>合伙人证书</title>
	<meta charset="UTF-8">
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mycont.css">
	<link rel="stylesheet" type="text/css" href="/static/css/track.css">

</head>
<body>
	
	{include file="common/top" /}
	<!-- 面包屑导航 -->
	<div class="pa white_bg">
		<ol class="breadcrumb white_bg">
			<li><a href="/">首页</a></li>
			<li><a href="{:url('user/index')}">我的捐赠</a></li>
			<li class="active active_bread">合伙人证书</li>
		</ol>
	</div>
	<!-- 捐款 -->
	<div class="pa mycont">
		{include file="user/leftmenu" /}
		<div class="mycont_list white_bg fr">
			<ul class="personal_top">
				<li><a href="#">合伙人证书</a></li>
			</ul>
			<div class="partner">
				<img class="partner_img" src="/static/images/partner.png">
				<img class="partner_img" src="/static/images/partner.png">
			</div>
		</div>
	</div>
	{include file="common/footer" /}
</body>
</html>