<ul class="mycont_menu white_bg fl ac">
    <li><a {$config['actionname'] == 'index' ? 'class=login_act' : 'href='.url('user/index')}>我的捐赠</a></li>
    <li><a {$config['actionname'] == 'personal' ? 'class=login_act' : 'href='.url('user/personal')}>资料设置</a></li>
    <li><a {$config['actionname'] == 'certificate' ? 'class=login_act' : 'href='.url('user/certificate')}>合伙人证书</a></li>
    <li><a {$config['actionname'] == 'feedback' ? 'class=login_act' : 'href='.url('user/feedback')}>平台反馈</a></li>
</ul>