<!DOCTYPE html>
<html>
<head>
	<title>善款追踪</title>
	<meta charset="UTF-8">
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mycont.css">
	<link rel="stylesheet" type="text/css" href="/static/css/track.css">

</head>
<body>
	{include file="common/top" /}
	<!-- 面包屑导航 -->
	<div class="pa white_bg">
		<ol class="breadcrumb white_bg">
			<li><a href="/">首页</a></li>
			<li><a href="{:url('index/user/index')}">我的捐助</a></li>
			<li class="active active_bread">善款追踪</li>
		</ol>
	</div>
	<!-- 捐款 -->
	<div class="pa mycont">
		{include file="user/leftmenu" /}
		<div class="mycont_list white_bg fr">
			<ul class="mycont_list_top">
				<li><a class="mycont_list_act" href="#">全部捐款</a></li>
			</ul>
			<div class="mycont_list_table">
				<div class="track_line">
					<span class="track_line_icon login_act iconfont icon-zuo-yuan" onclick="javascript:window.history.back(-1)"></span>
					<span class="track_word">善款追踪</span>
				</div>
				<ul class="track_detail">
					{foreach name="list" item="item"}
					<li>
						<span class="track_icon login_act iconfont icon-circleyuanquan"></span>
						<div class="track_san"></div>
						<div class="track_pic">
							<p class="track_title">
								<span>{$item.createtime|date="Y-m-d", ###}</span>
								<span>{$item.createtime|date="H:i:s", ###}</span>
								<span>{$item.title}</span>
							</p>
							<div>{$item.content}</div>
						</div>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	{include file="common/footer" /}
</body>
</html>